@font-face {
    font-family: 'outfit-semibold';
    src: url(./assets/fonts/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: 'outfit-regular';
    src: url(./assets/fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: 'outfit-light';
    src: url(./assets/fonts/Outfit-Light.ttf);
}
