//colors
$background: #0D192C;
$card-background: #15263F;
$white: #FFFFFF;
$soft-blue: #8BACD9;
$cyan: #00FFF8;
$very-dark-blue: #2E405A;

//font-size
$font-size-large: 22px;
$font-size-medium: 18px;
$font-size-small: 16px;



//font-family
$outfit-semibold: 'outfit-semibold';
$outfit-regular: 'outfit-regular';
$outfit-light: 'outfit-light';
